*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue-0: #d5e2f5;
  --blue-1: #b7cced;
  --blue-2: #99b7e6;
  --blue-3: #7ba1df;
  --blue-4: #5c8cd7;
  --blue-5: #3e77d0;
  --blue-6: #2c64bd;
  --blue-7: #25549f;
  --blue-8: #1e4582;
  --blue-9: #173564;
  --blue-10: #102546;
  --blue-11: #091629;

  --ink: var(--blue-0);
  --paper: var(--blue-11);
  --accent: var(--blue-6);

  --border-color: var(--blue-3);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--paper);
  color: var(--ink);
  border-color: var(--border-color);
  line-height: 1.6;
}

body {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem;
}

.intro-page li {
  margin-bottom: 0.5rem;
}

.intro-page .login-link {
  font-size: 1.25rem;
  background-color: var(--blue-1);
  color: var(--blue-11);
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.intro-page .login-link:hover {
  background-color: var(--blue-5);
  outline: 2px solid var(--blue-2);
}

.intro-page .login-link:active {
  transform: scale(0.98);
}

h1 {
  border-bottom: 4px solid var(--accent);
  font-weight: 900;
}

h1 {
  padding-bottom: 1rem;
}

.genres,
.genres ul,
.playlist-types {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.playlist-types {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

label p {
  margin: 0;
}
.genres ul {
  gap: 0.5rem;
}

.genres li,
.playlist-types label {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}
.genres .artist-count {
  position: absolute;
  top: 3px;
  right: 6px;
}

.genres .similar-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 0.5rem);
  max-height: 200px;
  overflow-y: scroll;
  z-index: 2;
  background-color: var(--blue-9);
  padding: 0.5rem;
  border-bottom: 2px solid var(--blue-0);
}

.genres .similar-container h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.genres li li {
  background-color: var(--blue-10);
  color: var(--ink);
  font-size: 0.9rem;
  padding: 0.5rem;

  --border-color: var(--blue-3);
  border-color: var(--border-color);
}

.genres li li button:hover {
  background-color: var(--blue-8);
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

iframe {
  border: none;
}

button,
.button {
  background-color: inherit;
  color: inherit;
  border-color: var(--border-color);
  font-size: inherit;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;

  display: inline-block;

  text-decoration: none;

  padding: 0.25rem;
  margin: 0.25rem;
}

.button-generous {
  padding: 0.5rem;
}

button:hover,
.button:hover {
  background-color: var(--blue-9);
  color: var(--blue-0);
}

button:active,
.button:active {
  background-color: var(--blue-7);
}

.genres li.chosen,
.playlist-types label.chosen,
.pill-link.chosen,
button[aria-pressed] {
  background-color: var(--blue-2);
  color: var(--blue-11);

  --border-color: var(--blue-11);
}

button.chosen {
  background-color: var(--blue-2);
  color: var(--blue-11);
  border-color: var(--blue-2);
}

.chosen a {
  color: var(--blue-11);
}

.toggle-button {
  position: absolute;
  bottom: -4px;
  right: -4px;
  border-width: 0;

  font-size: 1rem;
}

a {
  color: var(--ink);
}

.genre-name {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.sidebar h2 {
  margin-top: 0;
}

.main h2:first-child {
  margin-top: 0;
}

label p:last-child {
  margin-bottom: 0;
}

.error-container {
  max-width: 48rem;
  background-color: #860b24;
  padding: 0.5rem 1rem;
}

.step-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  text-align: center;
  max-width: 32rem;
}

.step-nav a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--border-color);
}

.step-nav a[aria-current] {
  background-color: var(--blue-2);
  color: var(--blue-11);
}

.step-nav li {
  width: 30%;
}

.alert {
  background-color: #fcf433;
  color: black;
  padding: 1rem;
}

.pills {
  list-style: none;
  padding-left: 0;
}

.pill-link {
  display: inline-block;
  border: 2px solid var(--border-color);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 10px;

  text-decoration: none;
}

select,
input {
  padding: 0.5rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.search-results {
  list-style: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-results li {
  max-width: 150px;
  /* border: 2px solid var(--border-color); */
  padding: 1rem;
  border-radius: 10px;
}

.search-results img {
  max-width: 150px;
  height: auto;
}

.search-results-small {
  gap: 0.25rem;

  font-size: 0.8rem;
}

.search-results-small li,
.search-results-small img {
  max-width: 64px;
}

.search-results-small img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.search-results-small .artist-name {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.search-results-small li {
  padding: 0.25rem;
  border: none;
}

.scroll-sideways {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.scroll-sideways li {
  flex-shrink: 0;
}

.search-results-dropdown {
  list-style: none;
  padding-left: 0;

  height: 200px;
  overflow-y: scroll;
}

.search-results-dropdown button {
  display: block;
  width: 100%;
  text-align: left;

  border-radius: 0;

  border-bottom: none;

  padding: 0.5rem;

  margin: 0;
}

.bullets li {
  margin-bottom: 1rem;
}

.button-group {
  display: flex;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-group button {
  border-right: none;
  border-radius: 0;
  margin: 0;

  padding: 0.5rem 1rem;
}

.button-group form:last-child button {
  border-right: 2px solid var(--border-color);
}

.button-group form:first-child button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-group form:last-child button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-group button[aria-pressed] {
  border-color: var(--blue-2);
}

.list-flex {
  display: flex;

  list-style: none;
  padding-left: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.track-previews {
  gap: 0;
}

.track-preview-button {
  margin: 0.25rem;
  border: 0;
  padding: 0;
  border-radius: 0;

  display: block;
}

.track-preview-button[aria-pressed] {
  z-index: 2;

  outline: 4px solid var(--blue-2);
  /* outline-offset: 2px; */
}

.playing-track-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: 42rem;
  margin: 0 auto;

  width: calc(100% - 1rem);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: var(--blue-2);
  color: var(--blue-11);
}

.playing-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 0.5rem;

  /* width: 100%; */
}

.playing-track .image-and-name {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem;
}

.stop-button {
  align-self: flex-start;

  --border-color: var(--blue-9);
}

.playing-track a {
  color: var(--blue-11);
}

/* Custom styling for select */
