<p>Oops, we had this error trying to talk to Spotify:</p>
<p>
    <strong>${authError.status} ${authError.statusText} - ${authError.message}</strong>
</p>
<p>If it says you are not registered in the Developer Dashboard, then the email address that is connected to your
    Spotify account has not been registered by Larry yet. He will need to manually add your email address in order for you
    to use discover-mix.</p>
<p>To double check you have the right email address:</p>
<ul>
    <li>If you're on your phone:
        <ul>
            <li>Open up the Spotify app.</li>
            <li>Tap the settings cog in the top right corner of the 'Home' tab.</li>
            <li>Click 'Account'.</li>
            <li>You should see your email address under 'Email'.</li>
        </ul>
    </li>
    <li>If you're on your computer:
        <ul>
            <li>Open up the Spotify app, or
                <a href="https://open.spotify.com/">open.spotify.com</a>
                in your web browser.</li>
            <li>Tap your account name in the top right corner.</li>
            <li>Click 'Account'.</li>
            <li>You should see your email address next to 'Email'.</li>
        </ul>
    </li>
</ul>
<p>Once you've found the email address attached to your account, send it through to Larry and he will update it for you.</p>
<p>Larry's email address:
    <a href="mailto:larryhudson@hey.com">larryhudson@hey.com</a>
</p>