node_modules
package-lock.json
11ty-output
# Local Netlify folder
.netlify
netlify/edge-functions/generated
netlify/edge-functions/_generated
.cache
.nvm

netlify/functions/serverless/**
!netlify/functions/serverless/index.js