<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{title}} | discover-mix</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <meta name="description" content="Create big Spotify playlists based on your favourite genres"/>
    </head>
    <body>
        <h1>discover-mix</h1>
        <div class="wrapper"></div>
    </body>
</html>