---
title: 1. Explore genres
stepNum: 1
---

{% edge 'njk' %}
<p>
    Click '+ add' on the genres you're interested in. Click on a genre to find out more and to explore similar.
</p>
<p style="margin-top: 2rem">
    <a href="/app/top-genres/" class="button button-generous">Explore top genres</a>
</p>
<p style="margin-top: 2rem">
    <a href="/app/search/" class="button button-generous">Search by artist</a>
</p>
<div id="chosen-genres-app" hidden="" :hidden="false" @vue:mounted="init">
    <h3 style="display: inline-block">
        Chosen genres
    </h3>
    <button @click="clearAllGenres" v-if="chosenGenres.length > 0" style="display: inline-block">× Clear all</button>
    <ul class="genres">
        {% set chosenGenres = eleventy.edge.cookies.chosenGenres|commaStrToArray %} <pre>{{ chosenGenres|dump(2) }}</pre>
        {% for genre in chosenGenres %}
            <li class="chosen">
                <a href="/app/genre/?genre={{ genre }}">
                    <span class="genre-name">{{ genre }}</span>
                </a>
                <form action="/toggle-genre">
                    <button name="genre" value="{{ genre }}">
                        × remove
                    </button>
                    <input type="hidden" name="action" value="remove"/>
                    <input type="hidden" name="return_to" value="{{ requestUrl }}"/>
                </form>
            </li>
        {% endfor %}
    </ul>
    <p>
        You haven't chosen any genres yet. Check out your top genres and explore similar genres above.
    </p>
</div>
<p style="text-align: right;">
    <a class="button button-generous" href="/app/2-types">Next step: choose playlist types &rarr;</a>
</p>
<script type="module">
    // This is going to mount its own Petite Vue thing
    async function init() {
        loadChosenGenres.bind(this)()
    }
    async function loadChosenGenres() {
        const chosenGenresJson = localStorage.getItem('chosen-genres') || "[]";
        try {
            const chosenGenres = JSON.parse(chosenGenresJson);
            this.chosenGenres = chosenGenres;
        } catch (err) {
            console.log(err)
            // TODO: show error message?
        }
    }
    async function updateChosenGenresInLocalStorage() {
        localStorage.setItem('chosen-genres', JSON.stringify(this.chosenGenres));
    }
    async function toggleGenre(genreName) {
        if (this.chosenGenres.includes(genreName)) {
            this.chosenGenres = this.chosenGenres.filter(genre => genre !== genreName);
        } else {
            this.chosenGenres.push(genreName);
        } updateChosenGenresInLocalStorage.bind(this)();
    }
    async function clearAllGenres() {
        this.chosenGenres = []
        updateChosenGenresInLocalStorage.bind(this)();
    }
    import {createApp} from "/petite-vue.es.js";
    const petiteVueApp = createApp({
        chosenGenres: [],
        init,
        toggleGenre,
        clearAllGenres,
        isChoosing(genreName) {
            return this.chosenGenres.includes(genreName)
        },
        $delimiters: ["${", "}"]
    })
    petiteVueApp.mount("#chosen-genres-app")
    document.addEventListener('turbo:visit', function (event) {
        if (event
                .detail
                .url
                .endsWith("/app/1-explore/")) {
            console.log("trying to mount chosen genres app")
            petiteVueApp.mount("#chosen-genres-app")
        }
    })
</script>
{% endedge %}