---
title: 1. Explore genres
stepNum: 1
---

<p>
    Click '+ add' on the genres you're interested in. Click on a genre to find out more and to explore similar.
</p>
<p style="margin-top: 1rem">
    <a href="/app/top-genres/" class="button button-generous">Explore top genres &rarr;</a>
    <a href="/app/search/" class="button button-generous">Search by artist &rarr;</a>
</p>
<p style="margin-top: 1rem"></p>
<div id="chosen-genres-app" @vue:mounted="init">
    <h3 style="display: inline-block; margin-top: 1rem">
        Your mix
    </h3>
    <button
        class="button-secondary hide-no-js"
        @click="clearAllGenres"
        v-if="chosenGenres.length > 0"
        style="display: inline-block">×
                        Clear all genres</button>
    <p>These genres will be included in your mix playlist.</p>
    <ul class="genres hide-no-js" v-if="chosenGenres.length > 0">
        <li class="primary-highlight-subtle" v-for="genre in chosenGenres">
            {% include 'genre-card.njk' %}
        </li>
    </ul>
    <p v-else="">
        You haven't chosen any genres yet. Check out your top genres and explore similar genres above.
    </p>
</div>
<p style="text-align: right;">
    <a class="button button-generous" href="/app/2-types">Next step: choose playlist types &rarr;</a>
</p>
<script type="module">
    // This is going to mount its own Petite Vue thing
    async function init() {
        loadChosenGenres.bind(this)()
    }
    async function loadChosenGenres() {
        const chosenGenresJson = localStorage.getItem('chosen-genres') || "[]";
        try {
            const chosenGenres = JSON.parse(chosenGenresJson);
            this.chosenGenres = chosenGenres;
        } catch (err) {
            console.log(err)
            // TODO: show error message?
        }
    }
    async function updateChosenGenresInLocalStorage() {
        localStorage.setItem('chosen-genres', JSON.stringify(this.chosenGenres));
    }
    async function toggleGenre(genreName) {
        if (this.chosenGenres.includes(genreName)) {
            this.chosenGenres = this.chosenGenres.filter(genre => genre !== genreName);
        } else {
            this.chosenGenres.push(genreName);
        } updateChosenGenresInLocalStorage.bind(this)();
    }
    async function clearAllGenres() {
        this.chosenGenres = []
        updateChosenGenresInLocalStorage.bind(this)();
    }
    import {createApp} from "/petite-vue.es.js";
    const petiteVueApp = createApp({
        chosenGenres: [],
        init,
        toggleGenre,
        clearAllGenres,
        isChoosing(genreName) {
            return this.chosenGenres.includes(genreName)
        },
        $delimiters: ["${", "}"]
    })
    petiteVueApp.mount("#chosen-genres-app")
    document.addEventListener('turbo:visit', function (event) {
        if (event
                .detail
                .url
                .endsWith("/app/1-explore/")) {
            console.log("trying to mount chosen genres app")
            petiteVueApp.mount("#chosen-genres-app")
        }
    })
</script>