---
title: Artist
backLinkText: Back to your mix
backLinkUrl: /app/1-explore/
hideTitleInLayout: true
permalink:
  serverless: /app/artist/:id/
---

<h2>{{ artist.name }}</h2>
<div id="artist-detail-app" @vue:mounted="init">
    {% set secondLastImage = artist.images | arrAt(-2) %} <img width="150" height="150" style="max-width: 150px; height: auto; background-color: var(--color-blue-5)" v-if="'images' in artistData" src="{{ secondLastImage.url }}"/>
    <p>
        <a class="button button-secondary" href="https://open.spotify.com/artist/{{ artist.id }}" target="_blank">View artist on
            Spotify &rarr;</a>
    </p>
    <h3 style="margin-top: 1rem">Genres for this artist</h3>
    <ul class="pills" v-if="'genres' in artistData">
        {% for genre in artist.genres %}
            <li style="display: inline-block">
                <a
                    class="pill-link button button-secondary"
                    :class="{'primary-highlight-subtle': isChoosing('{{ genre }}')}"
                    href="/app/genre/?genre={{ genre | urlencode }}">{{ genre }}</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <h3>Top tracks for this artist</h3>
        <p>Tap a song below to hear a preview.</p>
        <div>
            <ul class="list-flex flex-wrap track-previews">
                {% for track in artist.topTracks %}
                    <li>
                        <form action="https://open.spotify.com/track/{{ track.id }}">
                            <button title="{{ track.name }} by {{ track.artistStr }}" class="track-preview-button" @click.prevent="playTrack('{{ track.id }}')" :aria-pressed="playingTrackId === '{{ track.id }}' ? 'true' : undefined">
                                <img src="{{ track.imageUrl }}" width="{{ track.imageWidth }}" height="{{ track.imageWidth }}" alt=""/>
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="playing-track-container hide-no-js" v-if="playingTrackId !== null">
            <div class="playing-track">
                <div class="image-and-name">
                    <div>
                        <img :src="playingTrack.imageUrl"/>
                    </div>
                    <div>
                        <p>
                            <strong>${playingTrack.name}</strong>
                        </p>
                        <p>
                            <a v-for="trackArtist in playingTrack.artists" :href="`/app/artist/${trackArtist.id}/`">${trackArtist.name}</a>
                        </p>
                    </div>
                </div>
                <div class="stop-button">
                    <button @click="playingTrackId = null">× Stop</button>
                </div>
                <audio @loadedMetadata="playAudio" id="preview-audio" :src="playingTrack.mp3Url"></audio>
            </div>
        </div>
        <h3>Related artists</h3>
        <ul class="pills">
            {% for relatedArtist in artist.related %}
                <li style="display: inline-block">
                    <a class="pill-link button button-secondary" href="/app/artist/{{ relatedArtist.id }}/">{{ relatedArtist.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="module">
    // This is going to mount its own Petite Vue thing
    async function init() {
        loadChosenGenres.bind(this)();
    }
    async function updatePreviewPlaylist(event) {
        this.previewPlaylistId = event.target.value;
    }
    async function getArtistData() {
        document.querySelector('h2').innerText = artistData.name
    }
    async function loadChosenGenres() {
        const chosenGenresJson = localStorage.getItem('chosen-genres') || "[]";
        try {
            const chosenGenres = JSON.parse(chosenGenresJson);
            this.chosenGenres = chosenGenres;
        } catch (err) {
            console.log(err)
            // TODO: show error message?
        }
    }
    async function playTrack(trackId) {
        console.log("should play track", trackId)
        this.playingTrackId = trackId;
    }
    async function playAudio(event) {
        event.target.play();
    }
    import {createApp} from "/petite-vue.es.js";
    const artistId = new URL(window.location).searchParams.get('artistId');
    createApp({
        chosenGenres: [],
        isChoosing(genre) {
            return this.chosenGenres.includes(genre)
        },
        artistId,
        artistData: {{ artist | jsonToJs | safe }},
        init,
        playingTrackId: null,
        get playingTrack() {
            return this
                .artistData
                .topTracks
                .find(t => t.id === this.playingTrackId)
        },
        playTrack,
        playAudio,
        $delimiters: ["${", "}"]
    }).mount("#artist-detail-app")
</script>