---
title: Genre
---

{% edge %} <pre>{{ requestUrl|dump(2) }}</pre>
<pre>{{ eleventy|dump(2) }}</pre>
{% set chosenGenres = eleventy.edge.cookies.chosenGenres|commaStrToArray %}
<div id="genre-detail-app" @vue:mounted="init">
    {% if genre.name in chosenGenres %}
        <form action="/toggle-genre">
            <button name="genre" value="{{ genre.name }}">× remove {{ genre.name }} from your chosen genres</button>
            <input type="hidden" name="return_to" value="{{ requestUrl }}"/>
            <input type="hidden" name="action" value="remove"/>
        </form>
    {% else %}
        <form action="/toggle-genre">
            <button name="genre" value="{{ genre.name }}">+ add {{ genre.name }} to your chosen genres</button>
            <input type="hidden" name="return_to" value="{{ requestUrl }}"/>
            <input type="hidden" name="action" value="add"/>
        </form>
    {% endif %}
    <div>
        <div style="margin-top: 3rem; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <h3 style="margin-top: 0">Explore what is in this genre</h3>
            <div class="select-container">
                <select style="display: inline-block" @change="updatePreviewPlaylist">
                    <option value="{{ playlist.id }}">{{ playlist.type }}</option>
                </select>
            </div>
        </div>
        <p>Tap a song below to hear a preview.
            <a class="button" target="_blank" :href="`https://open.spotify.com/playlist/${previewPlaylistId}`">View full playlist on
                Spotify</a>
        </p>
        <div class="playing-track-container" v-if="playingTrack">
            <div class="playing-track">
                <div class="image-and-name">
                    <div>
                        <img :src="playingTrack.imageUrl"/>
                    </div>
                    <div>
                        <p>
                            <strong>${playingTrack.name}</strong>
                        </p>
                        <p>
                            <a v-for="artist in playingTrack.artists" style="margin-right: 0.5rem" :href="`/app/artist/?artistId=${artist.id}`">
                                ${artist.name}</a>
                        </p>
                    </div>
                </div>
                <div class="stop-button">
                    <button @click="stopPlaying">× Stop</button>
                </div>
                <audio @loadedMetadata="playAudio" id="preview-audio" :src="playingTrack.mp3Url"></audio>
            </div>
        </div>
        <div>
            <ul class="list-flex flex-wrap track-previews">
                <li v-for="track in previewTracks">
                    <button
                        :title="`${track.name} by ${track.artistStr}`"
                        class="track-preview-button"
                        @click="playTrack(track)"
                        :aria-pressed="playingTrack === track ? 'true' : undefined">
                        <img :src="track.imageUrl" :width="track.imageWidth" :height="track.imageWidth" alt=""/>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <h3>Artists for this genre</h3>
    <p v-if="artistsForGenre.length > 5">You can swipe to the right to see more artists.</p>
    <ul class="search-results search-results-small scroll-sideways">
        <a href="/app/artist/?artistId={{ artist.id }}">
            <div>
                <img src="{{ lastImage.url }}" alt=""/>
            </div>
            <div class="artist-name">
                {{ artist.name }}
            </div>
        </a>
    </ul>
    <h3>Similar genres</h3>
    <ul class="pills">
        <li style="display: inline-block">
            <a
                class="pill-link button"
                :class="{chosen: isChoosing('{{ similarGenre.name }}')}"
                href="/app/genre/?genre={{ similarGenre.name }}">{{ similarGenre.name }}</a>
        </li>
    </ul>
</div>
<script type="module">
    // This is going to mount its own Petite Vue thing
    async function init() {
        loadChosenGenres.bind(this)();
        // getPlaylistsForGenre.bind(this)(); getSimilarGenres.bind(this)(); getArtistsForGenre.bind(this)();
    }
    async function updatePreviewPlaylist(event) {
        this.previewPlaylistId = event.target.value;
        this.getPlaylistTracks.bind(this)();
    }
    async function getPlaylistTracks() {
        const tracks = await fetch(`/spotify-playlist-tracks?playlistId=${
            this.previewPlaylistId
        }&limit=24`).then(r => r.json())
        this.previewTracks = tracks;
    }
    async function loadChosenGenres() {
        const chosenGenresJson = localStorage.getItem('chosen-genres') || "[]";
        try {
            const chosenGenres = JSON.parse(chosenGenresJson);
            this.chosenGenres = chosenGenres;
        } catch (err) {
            console.log(err)
            // TODO: show error message?
        }
    }
    async function updateChosenGenresInLocalStorage() {
        localStorage.setItem('chosen-genres', JSON.stringify(this.chosenGenres));
    }
    async function toggleGenre() {
        if (this.chosenGenres.includes(this.genreName)) {
            this.chosenGenres = this.chosenGenres.filter(genre => genre !== this.genreName);
        } else {
            this.chosenGenres.push(this.genreName);
        } updateChosenGenresInLocalStorage.bind(this)();
    }
    async function playTrack(track) {
        console.log("should play track", track)
        this.playingTrack = track;
    }
    async function playAudio(event) {
        console.log(event);
        event.target.play();
    }
    async function stopPlaying() {
        this.playingTrack = null;
    }
    import {createApp} from "/petite-vue.es.js";
    document.querySelector('h2').innerText = "{{ genre.name }}"
    createApp({
        chosenGenres: [],
        updatePreviewPlaylist,
        previewPlaylistId: "{{ genre.soundPlaylistId }}",
        previewTracks: {{ genre.soundPlaylistTracks | jsonToJs | safe }},
        getPlaylistTracks,
        playlistsForGenre: {{ genre.playlists | jsonToJs | safe }},
        similarGenres: {{ genre.similarGenres | jsonToJs | safe }},
        artistsForGenre: {{ genre.artists | jsonToJs | safe }},
        genreName: "{{ genre.name }}",
        init,
        toggleGenre,
        fetched: false,
        playingTrack: null,
        playTrack,
        playAudio,
        stopPlaying,
        isChoosing(genreName) {
            return this.chosenGenres.includes(genreName)
        },
        $delimiters: ["${", "}"]
    }).mount("#genre-detail-app")
</script>
{% for playlist in genre.playlists %}{% endfor %}
{% if genre.artists.length > 5 %}{% endif %}
{% for artist in genre.artists %}
    {% set lastImage = artist.images | last %}
{% endfor %}
{% for similarGenre in genre.similarGenres %}{% endfor %}
{% endedge %}