---
title: Genre
---

<div id="genre-detail-app" @vue:mounted="init">
    <button class="button button-generous" @click="toggleGenre" :class="{chosen: isChoosing(genreName)}">
        <span v-if="isChoosing(genreName)">
            × remove ${genreName} from your chosen genres
        </span>
        <span v-else="">
            + add ${genreName} to your chosen genres
        </span>
    </button>
    <div hidden="" :hidden="!fetched ? true : undefined">
        <div style="margin-top: 3rem; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <h3 style="margin-top: 0">Explore what is in this genre</h3>
            <div class="select-container">
                <select style="display: inline-block" @change="updatePreviewPlaylist">
                    <option
                        v-for="(playlistType, index) in playlistsForGenre"
                        :value="playlistType.id"
                        :selected="index === 0 ? true : false">${playlistType.type}</option>
                </select>
            </div>
        </div>
        <p>Tap a song below to hear a preview.
            <a class="button" target="_blank" :href="`https://open.spotify.com/playlist/${previewPlaylistId}`">View full playlist on
                Spotify</a>
        </p>
        <div class="playing-track-container" v-show="playingTrack !== null">
            <div class="playing-track">
                <div class="image-and-name">
                    <div>
                        <img :src="playingTrack.imageUrl"/>
                    </div>
                    <div>
                        <p>
                            <strong>${playingTrack.name}</strong>
                        </p>
                        <p>
                            <a v-for="artist in playingTrack.artists" style="margin-right: 0.5rem" :href="`/app/artist/?artistId=${artist.id}`">
                                ${artist.name}</a>
                        </p>
                    </div>
                </div>
                <div class="stop-button">
                    <button @click="playingTrack = null">× Stop</button>
                </div>
                <audio @loadedMetadata="playAudio" id="preview-audio" :src="playingTrack.mp3Url"></audio>
            </div>
        </div>
        <div>
            <ul class="list-flex flex-wrap track-previews">
                <li v-for="track in previewTracks">
                    <button
                        :title="`${track.name} by ${track.artistStr}`"
                        class="track-preview-button"
                        @click="playTrack(track)"
                        :aria-pressed="playingTrack === track ? 'true' : undefined">
                        <img :src="track.imageUrl" :width="track.imageWidth" :height="track.imageWidth" alt=""/>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <h3>Artists for this genre</h3>
    <div v-if="artistsForGenre.length > 0">
        <p v-if="artistsForGenre.length > 5">You can swipe to the right to see more artists.</p>
        <ul class="search-results search-results-small scroll-sideways">
            <li v-for="artist in artistsForGenre">
                <a :href="`/app/artist/?artistId=${artist.id}`">
                    <div>
                        <img :src="artist.images.at(-2).url" alt=""/>
                    </div>
                    <div class="artist-name">
                        ${artist.name}
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <h3>Similar genres</h3>
    <ul class="pills">
        <li style="display: inline-block" v-for="similarGenre in similarGenres">
            <a
                class="pill-link button"
                :class="{chosen: isChoosing(similarGenre.name)}"
                :href="`/app/genre/?genre=${similarGenre.name}`">${similarGenre.name}</a>
        </li>
    </ul>
</div>
<script type="module">
    // This is going to mount its own Petite Vue thing
    async function init() {
        loadChosenGenres.bind(this)();
        getPlaylistsForGenre.bind(this)();
        getSimilarGenres.bind(this)();
        getArtistsForGenre.bind(this)();
    }
    async function getArtistsForGenre() {
        const paramString = new URLSearchParams({
                type: 'artist', q: `genre:"${
                this.genreName
            }"`
        }).toString()
        const searchUrl = `/spotify-search?${paramString}`
        const artists = await fetch(searchUrl)
            .then(r => r.json())
            console
            .log(artists)
            this
            .artistsForGenre = artists;
    }
    async function updatePreviewPlaylist(event) {
        this.previewPlaylistId = event.target.value;
        this.getPlaylistTracks.bind(this)();
    }
    async function getSimilarGenres() {
        const similarGenres = await fetch(`/spotify-similar-genres?genre=${
            this.genreName
        }`).then((r) => r.json());
        console.log({similarGenres})
        this.similarGenres = similarGenres;
        this.fetched = true;
    }
    async function getPlaylistTracks() {
        const tracks = await fetch(`/spotify-playlist-tracks?playlistId=${
            this.previewPlaylistId
        }&limit=24`).then(r => r.json())
        this.previewTracks = tracks;
    }
    async function getPlaylistsForGenre() {
        const playlists = await fetch(`/playlists-for-genre?genre=${
            this.genreName
        }`).then((r) => r.json());
        console.log({playlists})
        this.playlistsForGenre = playlists[0];
        this.previewPlaylistId = playlists[0][0].id;
        this.getPlaylistTracks.bind(this)();
    }
    async function loadChosenGenres() {
        const chosenGenresJson = localStorage.getItem('chosen-genres') || "[]";
        try {
            const chosenGenres = JSON.parse(chosenGenresJson);
            this.chosenGenres = chosenGenres;
        } catch (err) {
            console.log(err)
            // TODO: show error message?
        }
    }
    async function updateChosenGenresInLocalStorage() {
        localStorage.setItem('chosen-genres', JSON.stringify(this.chosenGenres));
    }
    async function toggleGenre() {
        if (this.chosenGenres.includes(this.genreName)) {
            this.chosenGenres = this.chosenGenres.filter(genre => genre !== this.genreName);
        } else {
            this.chosenGenres.push(this.genreName);
        } updateChosenGenresInLocalStorage.bind(this)();
    }
    async function playTrack(track) {
        console.log("should play track", track)
        this.playingTrack = track;
    }
    async function playAudio(event) {
        console
            .log(event)
            event
            .target
            .play();
    }
    import {createApp} from "/petite-vue.es.js";
    const genreName = new URL(window.location).searchParams.get('genre');
    document.querySelector('h2').innerText = `${genreName}`
    createApp({
        chosenGenres: [],
        updatePreviewPlaylist,
        previewPlaylistId: null,
        previewTracks: [],
        getPlaylistTracks,
        playlistsForGenre: [],
        similarGenres: [],
        artistsForGenre: [],
        genreName,
        init,
        toggleGenre,
        fetched: false,
        playingTrack: null,
        playTrack,
        playAudio,
        isChoosing(genreName) {
            return this.chosenGenres.includes(genreName)
        },
        $delimiters: ["${", "}"]
    }).mount("#genre-detail-app")
</script>